apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # User applications
  - ../certs/
  - ../ddns/
  - ../trilium-notes/
  - ../jobscrapper/
  - ../intervalsicu/
  - ../gotify/
  - ../actual-budget/
  - ../immich/
  - ../website/
  - ../factorio/

  # System applications
  - ../../system/system-upgrade
  - ../../system/cert-manager
  - ../../system/cilium
  - ../../system/argocd
  - ../../system/monitoring/grafana-lgtm
  - ../../system/monitoring/grafana-alloy
  - ../../system/monitoring/k8s-state-metrics
  - ../../system/monitoring/metrics-server
  - ../../system/rook-ceph
  - ../../system/sealed-secrets
  - ../../system/atlantis
  - ../../system/cloudnativepg

patches:
- patch: |-
    apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: not-used
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      syncPolicy:
        automated:
          selfHeal: true
  target:
    kind: Application
