# ---
# apiVersion: upgrade.cattle.io/v1
# kind: Plan
# metadata:
#   name: k3s-server
#   namespace: system-upgrade
# spec:
#   concurrency: 1
#   version: v1.29.10+k3s1
#   nodeSelector:
#     matchExpressions:
#       - {key: k3s-upgrade, operator: In, values: ["true"]}
#       - {key: node-role.kubernetes.io/control-plane, operator: Exists}
#   serviceAccountName: system-upgrade
#   cordon: true
#   upgrade:
#     image: rancher/k3s-upgrade
# ---
# apiVersion: upgrade.cattle.io/v1
# kind: Plan
# metadata:
#   name: k3s-agent
#   namespace: system-upgrade
# spec:
#   concurrency: 1
#   version: v1.29.10+k3s1
#   nodeSelector:
#     matchExpressions:
#       - {key: k3s-upgrade, operator: In, values: ["true"]}
#       - {key: node-role.kubernetes.io/control-plane, operator: DoesNotExist}
#   serviceAccountName: system-upgrade
#   prepare:
#     image: rancher/k3s-upgrade
#     args: ["prepare", "k3s-server"]
#   drain:
#     force: true
#     skipWaitForDeleteTimeout: 120
#     ignoreDaemonSets: true
#     podSelector:
#       matchExpressions:
#         - {key: app, operator: NotIn, values: ["critical-app"]}
#   upgrade:
#     image: rancher/k3s-upgrade

# kubectl label nodes controlplane worker1 worker2 worker3 k3s-upgrade=true