apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: velero
  namespace: argocd
  finalizers:
      - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    namespace: velero
    server: https://kubernetes.default.svc
  sources:
    - chart: velero
      helm:
        releaseName: velero
        valueFiles:
          - $values/kubernetes/system/velero/helm/values.yaml
      repoURL: https://vmware-tanzu.github.io/helm-charts
      targetRevision: 11.3.1
    - repoURL: https://github.com/ThomasCardin/homelab.git
      targetRevision: HEAD
      ref: values
  syncPolicy:
    automated:
      selfHeal: true
