apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: oauth2-proxy
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
      - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    namespace: oauth2-proxy
    server: https://kubernetes.default.svc
  sources:
    - chart: oauth2-proxy
      helm:
        releaseName: oauth2-proxy
        valueFiles:
          - $values/kubernetes/system/oauth2-proxy/helm/values.yaml
      repoURL: https://oauth2-proxy.github.io/manifests
      targetRevision: 9.0.0
    - repoURL: https://github.com/ThomasCardin/homelab.git
      targetRevision: HEAD
      ref: values
    - repoURL: https://github.com/ThomasCardin/homelab
      path: kubernetes/system/oauth2-proxy/base
      targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
