apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  sources:
    - chart: cert-manager
      repoURL: https://charts.jetstack.io
      targetRevision: v1.19.2
      helm:
        releaseName: cert-manager
        valueFiles:
          - $values/kubernetes/system/cert-manager/helm/values.yaml
    - repoURL: https://github.com/ThomasCardin/homelab.git
      targetRevision: HEAD
      ref: values
    - repoURL: https://github.com/ThomasCardin/homelab.git
      path: kubernetes/system/cert-manager/base
      targetRevision: HEAD