## This chart relies on the common library chart from bjw-s
## You can find it at https://github.com/bjw-s-labs/helm-charts/tree/common-4.3.0/charts/library/common
## Refer there for more detail about the supported values

# These entries are shared between all the Immich components

controllers:
  main:
    containers:
      main:
        image:
          tag: v2.0.0
        envFrom:
          - secretRef:
              name: immich-postgres-user
        env:
          DB_HOSTNAME: immich-postgres-rw.immich.svc
          DB_USERNAME: immich
          DB_DATABASE_NAME: immich
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-postgres-user
                key: password
          REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
          IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
          UPLOAD_LOCATION: /data

immich:
  metrics:
    enabled: false
  persistence:
    library:
      existingClaim: immich-library
    config:
      enabled: true
      size: 1Gi
      accessMode: ReadWriteOnce
  configuration:
    trash:
      enabled: true
      days: 30

# Dependencies

valkey:
  enabled: true
  persistence:
    data:
      enabled: true
      size: 1Gi
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      storageClass: hdd-ceph-block

# Immich components

server:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-server
            pullPolicy: IfNotPresent
  ingress:
    main:
      enabled: true
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      ingressClassName: nginx
      hosts:
        - host: immich.ninebasetwo.net
          paths:
            - path: "/"
              pathType: Prefix
              service:
                identifier: main
      tls:
        - hosts:
            - immich.ninebasetwo.net
          secretName: immich-tls

machine-learning:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-machine-learning
            pullPolicy: IfNotPresent
          env:
            TRANSFORMERS_CACHE: /cache
            HF_XET_CACHE: /cache/huggingface-xet
            MPLCONFIGDIR: /cache/matplotlib-config
  persistence:
    cache:
      enabled: true
      size: 10Gi
      type: emptyDir
      accessMode: ReadWriteMany
      storageClass: hdd-ceph-block
