apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-external-gotify
  annotations:
    lbipam.cilium.io/ips: 192.168.2.7
    ingress.cilium.io/loadbalancer-mode: dedicated
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: cilium 
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: gotify-svc
            port:
              number: 80
