apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: grafana-route
spec:
  parentRefs:
    - name: default-gateway
      namespace: default
  hostnames:
    - grafana.ninebasetwo.net
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: "/"
      backendRefs:
        - name: lgtm-distributed-grafana
          port: 80
